
.box {
  background-color: var(--color-white, blue);
  z-index: 2;
  width: 30%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-overlay, rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:  10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}