.Text {
  margin: 0;
  padding: 0;
}

.h1 {
  composes: Text;
  font-size: 2rem;
  font-weight: bold;
}

.h2 {
  composes: Text;
  font-size: 1.5rem;
  font-weight: bold;
}

.h3 {
  composes: Text;
  font-size: 1.25rem;
  font-weight: bold;
}

.span {
  composes: Text;
  font-size: 1rem;
  font-weight: normal;
}