// Spacing utilities based on Fibonacci sequence
// Base unit in pixels
$base-unit: 4px;

// Fibonacci sequence values
$fibonacci-values: 0, 1, 2, 3, 5, 8, 13, 21;

// Generate margin utilities
@each $value in $fibonacci-values {
    .m-#{$value} { margin: #{$value * $base-unit}; }
    .mt-#{$value} { margin-top: #{$value * $base-unit}; }
    .mr-#{$value} { margin-right: #{$value * $base-unit}; }
    .mb-#{$value} { margin-bottom: #{$value * $base-unit}; }
    .ml-#{$value} { margin-left: #{$value * $base-unit}; }
    .mx-#{$value} { 
        margin-left: #{$value * $base-unit};
        margin-right: #{$value * $base-unit};
    }
    .my-#{$value} { 
        margin-top: #{$value * $base-unit};
        margin-bottom: #{$value * $base-unit};
    }
    .m-auto { margin: auto; }
    .mx-auto { 
        margin-left: auto; 
        margin-right: auto;
    }
    .my-auto { 
        margin-top: auto; 
        margin-bottom: auto;
    }
}

// Generate padding utilities
@each $value in $fibonacci-values {
    .p-#{$value} { padding: #{$value * $base-unit}; }
    .pt-#{$value} { padding-top: #{$value * $base-unit}; }
    .pr-#{$value} { padding-right: #{$value * $base-unit}; }
    .pb-#{$value} { padding-bottom: #{$value * $base-unit}; }
    .pl-#{$value} { padding-left: #{$value * $base-unit}; }
    .px-#{$value} { 
        padding-left: #{$value * $base-unit};
        padding-right: #{$value * $base-unit};
    }
    .py-#{$value} { 
        padding-top: #{$value * $base-unit};
        padding-bottom: #{$value * $base-unit};
    }
}