name: Pull Request

on:
  pull_request:
    branches:
      - master

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: ajorquera/test-and-build-action@v1.1.0
        with:
          skips-lint: true