name: Publish Package

on:
  push:
    tags: 
      - '*'  

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: ajorquera/test-and-build-action@v1.1.0
        with:
          registry-url: 'https://registry.npmjs.org'
          skips-lint: true

      - run: npm publish --access public